/* 
    Created on : May 30, 2019, 9:30:11 PM
    Author     : Jan Fic
*/

body {
    overflow: hidden;
    position: relative;
    background-color: #2f8db3;
    color: #2f8db3;
}

a {
    
}

.dot {
    height: 200px;
    width: 200px;
    background-color: #e5f4f9;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    z-index: -2;
}

@keyframes dot {
    0% {
        left: 50%;
        top: 50px;
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        left: 0;
        top: -50%;
        width: 100%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes smalldot {
    0% {
        width: 100px;
        height: 100px;
        top: -50px;
        left: -50px;
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        top: -350px;
        left: -350px;
        width: 700px;
        height: 700px;
        opacity: 0;
    }
}

#hire {
    position: absolute;
    margin-left: calc(50% + 104px);
    margin-top: 150px;
    font: 3em monospace;
    text-align: center;
}

#about {
    position: absolute;
    margin-left: calc(50% - 210px);
    margin-top: 150px;
    text-align: center;
    font: 3em monospace;
}
#headshot {
    position: absolute;
    margin-left: calc(50% - 102px);
    top: -1px;
}

#name {
    position: absolute;
    margin-left: calc(50% - 60px);
    margin-top: 200px;
    text-align: center;
    font: 1.75em "Lucida Console";
}

#pulse {
    position: absolute;
    width: 100%;
    padding-top: 25%;
    height: 0;
    margin-top: -1000px;
    background-color: #bddfef;
    margin-left: 0%;
    animation-name:  pulseVerticle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
    z-index: -10;
}

.panel {
    width: 25.5%;
    height: 50%;
    padding: 10px;
    top: 40%;
    background-color: white ;
    opacity: 0.85;
    position: absolute;
    border: 4px #e5f4f9 solid;
    font-family: monospace;
    text-align: center;
    font-size: 1.2em;
}


@keyframes pulseHorrizontal{
    from {
        margin-left: -100px;
    }
    to {
        margin-left: 100%;
    }
}

@keyframes pulseVerticle{
    from {
        margin-top: -400px;
    }
    to {
        margin-top: 1000px;
    }
}